@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color1: #009f9d;
  --color2: #07456f;
  --color3: #071e3d;
  --text1: #ffff;
  --text2: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden;
}

.custom-navbar {
  position: relative;
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3)
  ) !important;
  padding: 10px;
}

.nav-item a {
  color: var(--text1) !important;
  position: relative;
  text-decoration: none;
  margin-right: 10px;
}

.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--text1);
  transition: width 1.3s ease;
  opacity: 0;
}

.nav-item a:hover::after {
  width: 100%;
  opacity: 1;
}

.container-fluid img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

.container-fluid img {
  display: block;
  width: 130px;
  height: 58px;
}

.button-sign-up {
  background: var(--color1);
  border: none;
  font-size: 16px;
}

.button-sign-up:hover {
  background: #cdffeb;
  color: var(--text2) !important;
  border: none;
  font-size: 16px;
}

.home {
  min-height: 100vh;
  margin-top: -50px;
  display: flex;
  align-items: center;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.home .home-text {
  max-width: 60rem;
  text-align: left;
  padding-right: 50px;
  margin-right: 50px;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.home-img {
  margin-left: auto;
}

.home-img img {
  height: auto;
  max-width: 100%;
}

.home .home-text img {
  margin-left: 80px;
}

.home-text h1 {
  font-size: 80px;
  color: var(--color3);
  text-transform: uppercase;
  line-height: 1.2;
  padding: 30px;
  margin-top: 90px;
  font-weight: 700;
  animation: fadeIn 2s ease forwards infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-text p {
  font-size: 20px;
  color: var(--color3);
  line-height: 1.5;
  margin-bottom: -5px;
  margin-top: -50px;
  padding: 33px;
  text-align: justify;
}

.home-text .custom-button-btn {
  border: none;
  border-radius: 10px;
  background: var(--color2);
  color: var(--text1);
  padding: 10px 20px;
  margin-left: 30px;
  display: block;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.custom-button-btn:hover {
  background: var(--color1);
  color: var(--text1);
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

/*section-header*/
.section-header {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.section-header .title {
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color3);
  line-height: 1.2;
}
/*testimonials*/
.testimonials {
  padding: 100px 0;
}

.testimonials {
  background: linear-gradient(to bottom, var(--text1), var(--color1));
}

.testimonials-item {
  background-color: var(--text1);
  padding: 30px;
  border-radius: 30px;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item img {
  max-width: 80px;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--text2);
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: var(--text2);
}

.testimonials-item p {
  margin-top: 20px;
  color: var(--text2);
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: hsl(36, 88%, 66%);
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: var(--text1);
}

.section-header .title {
  font-weight: 800;
}

.section-header p {
  align-items: center;
}

.publication {
  background: linear-gradient(to bottom, var(--text1), var(--color1));
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.publication-text h2 {
  font-size: 35px;
  font-weight: 800;
  color: var(--color3);
  margin-bottom: 30px;
  text-align: center;
}

.publication-text p {
  font-size: 16px;
  color: var(--color3);
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 50px;
}

.image-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.publication-img {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}

.publication-img img {
  margin-right: 50px;
  height: 150px;
  width: auto;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .publication-img {
    flex: 100%;
    padding: 20px 0;
  }
}

.visi-misi {
  padding: 80px 0;
  text-align: left;
}

.visi-misi .title {
  font-size: 35px;
  color: var(--color3);
  margin-bottom: -5px;
  font-weight: 700;
  padding: 30px;
}

.visi-misi .kolom {
  margin-bottom: -30px;
}

.visi-misi .kolom p {
  font-weight: 500;
}

.visi-misi .kolom h1 {
  margin-bottom: -10px;
}

.visi-misi h1 {
  font-size: 30px;
  color: var(--color3);
  margin-bottom: -10px;
  padding: 30px;
  font-weight: 700;
}

.visi-misi p {
  font-size: 16px;
  color: var(--color3);
  line-height: 1.6;
  padding: 30px;
  margin-bottom: -10px;
  font-weight: 700;
  margin-top: -30px;
}

.visi-misi .misi-list {
  list-style-type: disc;
  margin-left: 20px;
}

.visi-misi .misi-list li {
  font-size: 16px;
  color: var(--color3);
  line-height: 1.6;
}

.container-about-us {
  width: 100%;
  margin: 0 auto;
  margin-bottom: -60px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-right: 40px;
  overflow: hidden;
  background: var(--color1);
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.about-content {
  flex: 1;
}

.about-content h1 {
  font-size: 60px;
  margin-bottom: 50px;
  color: var(--color3);
  font-weight: 700;
}

.about-content p {
  margin-right: 50px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color2);
  margin-top: 20px;
  text-align: justify;
}

.about-content .custom-button-btn {
  border: none;
  border-radius: 10px;
  background: var(--color2);
  color: var(--text1);
  padding: 10px 20px;

  display: block;
  font-size: 20px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.custom-button-btn:hover {
  background: var(--color1);
  color: var(--text1);
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.best-value-proposition {
  padding: 100px 0;
  background: var(--text1);
  text-align: left;
  display: flex;
  margin-bottom: -140px;
}

.best-value-proposition h1 {
  font-size: 35px;
  margin-bottom: 30px;
  margin-top: 80px;
  color: var(--color3);
  font-weight: 700;
}

.best-value-proposition p {
  font-size: 16px;
  margin-bottom: 30px;
  color: var(--color3);
  text-align: justify;
}

.best-value-proposition button {
  font-size: 24px;
  padding: 15px 40px;
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 50px;
  margin-left: 60px;
}

#map iframe {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.layanan .kategori-layanan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  text-align: left;
}

.layanan .kategori-layanan h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.layanan .kategori-layanan p {
  font-size: 16px;
  color: var(--text2);
  margin-bottom: 20px;
  margin-top: -70px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  width: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
}

.card-body .custom-button-layanan {
  background-color: var(--color2);
  border: none;
  color: var(--text1);
  padding: 10px 20px;
  margin-top: auto;
  align-self: center;
}

.card-body .custom-button-layanan:hover {
  background-color: var(--color1);
  color: var(--text2);
}

.section-footer {
  height: 100vh;
  width: 100%;
}

.section-footer .footer {
  padding: 80px 13% 70px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3)
  ) !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.custom-footer {
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3)
  ) !important;
}

.left {
  float: right;
  margin-top: -38%;
}

.left img {
  width: 400px;
  height: 543px;
  margin-bottom: -180%;
  margin-right: 80px;
}

@media (max-width: 767px) {
  .left {
    float: none;
    margin-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 767px) {
  .home-text h1 {
    font-size: 40px;
    padding: 15px;
    margin-top: 50px;
  }

  .home-text p {
    font-size: 14px;
    padding: 15px;
    margin-top: -20px;
  }

  .home-text .custom-button-btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 20px;
  }

  .section-header .title {
    font-size: 30px;
    margin-top: 30px;
  }

  .about-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .about-content p {
    font-size: 14px;
    margin-top: -10px;
    margin-right: 0;
  }

  .best-value-proposition h1 {
    font-size: 30px;
    margin-top: 80px;
  }

  .left img {
    width: 100%;
    height: auto;
    margin-bottom: -60px; /* Adjust as needed */
    margin-right: 0;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .home-text h1 {
    font-size: 60px;
    padding: 30px;
    margin-top: 90px;
  }

  .home-text p {
    font-size: 16px;
    padding: 30px;
    margin-top: -40px;
  }

  .home-text .custom-button-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 30px;
  }

  .section-header .title {
    font-size: 35px;
    margin-top: 50px;
  }

  .about-content h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }

  .best-value-proposition h1 {
    font-size: 35px;
    margin-top: 100px;
  }
}
